@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: rgb(250, 250, 255);
}

h2 {
  text-align: center;
}

.grid {
  width: 85%;
  max-width: 800px;
  margin: 2rem auto;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  height: fit-content;
  margin-bottom: 1rem;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question p {
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
  color: darkorange;
}

button {
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  outline: none;
  background: none;
}

button:hover {
  background: rgb(219, 219, 219);
}

button img {
  width: 1rem;
}

.answer {
  margin: 1rem;
  display: none;
}

.answer::first-letter {
  margin-left: 1rem;
}
